@media only screen and (min-width: 768px) {
  .spacer {
    height: 100vh;
    padding: 100px;
  }
}

.wrapper {
  background-color: #002233;
}

.spacer {
  background-color: #002233;
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 100vh;
}

.spacer2 {
  background-color: #002233;
  /* aspect-ratio: 960/300; */
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.layer1 {
  background-image: url("../public/wave.svg");
}
.layer2 {
  background-image: url("../public/layer2_right.svg");
}

.fab {
  margin: "10px";
  transition: transform 0.2s;
}
.fab:hover {
  transform: scale(1.5);
}
